<div class="svg-top">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="1337"
    width="1337">
    <defs>
      <path id="path-1" opacity="1" fill-rule="evenodd"
        d="M1337,668.5 C1337,1037.455193874239 1037.455193874239,1337 668.5,1337 C523.6725684305388,1337 337,1236 370.50000000000006,1094 C434.03835568300906,824.6732385973953 6.906089672974592e-14,892.6277623047779 0,668.5000000000001 C0,299.5448061257611 299.5448061257609,1.1368683772161603e-13 668.4999999999999,0 C1037.455193874239,0 1337,299.544806125761 1337,668.5Z" />
      <linearGradient id="linearGradient-2" x1="0.79" y1="0.62" x2="0.21" y2="0.86">
        <stop offset="0" stop-color="rgb(88,62,213)" stop-opacity="1" />
        <stop offset="1" stop-color="rgb(23,215,250)" stop-opacity="1" />
      </linearGradient>
    </defs>
    <g opacity="1">
      <use xlink:href="#path-1" fill="url(#linearGradient-2)" fill-opacity="1" />
    </g>
  </svg>
</div>
<div class="svg-bottom">
  <?xml version="1.0" encoding="utf-8"?>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="896"
    width="967.8852157128662">
    <defs>
      <path id="path-2" opacity="1" fill-rule="evenodd"
        d="M896,448 C1142.6325445712241,465.5747656464056 695.2579309733121,896 448,896 C200.74206902668806,896 5.684341886080802e-14,695.2579309733121 0,448.0000000000001 C0,200.74206902668806 200.74206902668791,5.684341886080802e-14 447.99999999999994,0 C695.2579309733121,0 475,418 896,448Z" />
      <linearGradient id="linearGradient-3" x1="0.5" y1="0" x2="0.5" y2="1">
        <stop offset="0" stop-color="rgb(40,175,240)" stop-opacity="1" />
        <stop offset="1" stop-color="rgb(18,15,196)" stop-opacity="1" />
      </linearGradient>
    </defs>
    <g opacity="1">
      <use xlink:href="#path-2" fill="url(#linearGradient-3)" fill-opacity="1" />
    </g>
  </svg>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
  <h1> Thank you for Registering with us</h1>

  <!-- username -->
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" placeholder="Username">
  </mat-form-field>
  <mat-error *ngIf="f['username'].getError('required')!=null" class="errormessage">
    <mat-icon>error_outline</mat-icon>Username is required
  </mat-error>
  <mat-error *ngIf="f['username'].getError('minlength')!=null" class="errormessage">Username should be at least 6
    letters</mat-error>

  <!-- email -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="email" type="email" matInput placeholder="Email">
  </mat-form-field>
  <mat-error *ngIf="f['password'].getError('required')!=null" class="errormessage">
    <mat-icon>error_outline</mat-icon>Email is required
  </mat-error>
  <mat-error *ngIf="f['email'].getError('email')!=null" class="errormessage">
    <mat-icon>error_outline</mat-icon>Your email is invalid
  </mat-error>

    <!-- url -->
    <mat-form-field appearance="outline">
      <mat-label>url</mat-label>
      <input formControlName="url" type="text" matInput placeholder="placeholder">
    </mat-form-field>
    <mat-error *ngIf="url.errors?.['urlValid']"class="errormessage">
      <mat-icon>error_outline</mat-icon>URL IS INVALID
    </mat-error>

  <!-- PASSWORD -->
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="password" type="password" matInput placeholder="Password">
  </mat-form-field>
  <mat-error *ngIf="f['password'].getError('required')!=null" class="errormessage">
    <mat-icon>error_outline</mat-icon>Password is required
  </mat-error>
  <mat-error *ngIf="f['password'].getError('minlength')!=null" class="errormessage">
    <mat-icon>error_outline</mat-icon>Password should have 8-12 characters
  </mat-error>
  <mat-error *ngIf="f['password'].getError('maxlength')!=null" class="errormessage">
    <mat-icon>error_outline</mat-icon>Password should have 8-12 characters
  </mat-error>


  <!-- Confirm password -->
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input formControlName="cnfrmPassword" type="password" matInput placeholder="Confirm Password">
  </mat-form-field>
  <mat-error *ngIf="f['cnfrmPassword'].getError('required')!=null" class="errormessage">
    <mat-icon>error_outline</mat-icon>Confirmation of password is required
  </mat-error>
  <mat-error *ngIf="f['cnfrmPassword'].getError('Mustmatch')!=null" class="errormessage">
    <mat-icon>error_outline</mat-icon>Password mismatched
  </mat-error>
  <div>
    <button mat-raised-button>REGISTER</button>
  </div>
</form>