mat-error{
    font-size: 1.4rem;
}
button{
    background-color: rgb(96, 98, 98);
    color: aliceblue;
    border-radius:30px
}

mat-card{
    border-radius: 20px;
}
input{
    display: inline;
    place-items: center
}

