.mat-toolbar{
    background:grey;
    color:black;
    font-size: 2.5rem;
    flex: 1 1 auto;
    margin-left: 0;
}
.mat-sidenav{
    height: 100%;
    width:300px;
    border-right:none;
    background:grey;
    color: white;
    padding:16px;
    text-align:center;
    margin-top: -10px;
}
 
.menu-button {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
    top: 1
}
    .mat-icon {
        margin-right: 8px;
        position: right;
    }

    .name{
        margin-top:8px;
        font-weight: normal;
    }
    .designation{
        margin-top:2px;
        font-size: 1.5rem;
        color: lightgrey
    }
    .avatar-mat-elevation-z8{
       shape-outside: circle;
    }
    .mat-divider {
        border-top-color: white;
      }
      .user-image-icon ml-1{
          shape-outside: circle();
      }
      
    .img-circle{
        border-radius: 50px;
    }
    .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 250px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color:grey;/* Black */
        
      }
     header{
        padding:30px;
        text-decoration: none;
        font-size: 2.5rem;
        color: white;
        background-color: #004a9f;
        padding-top:-50px;
      }
      .spacer {
        flex: 1 1 auto;
      }
      .menu.button{
          width:100%;
          display:flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 2.5rem;
      }
     
